/* Partial : Button */

input[type=button] {
    background-size: contain!important;
    background-position: left;
    background-repeat: no-repeat!important;
    border: none;
    font-size: 20px;
    font-family: "optima";
    text-transform: uppercase;
    background-color: transparent;
    text-align: left;
}