/* Partial : Typography */

.title {
    font-family: 'optima';
    color: var(--brown);
    text-transform: uppercase;
    font-size: 75px;
    font-weight: 400;
}

.subtitle {
    font-family: 'optima';
    text-transform: uppercase;
    color: var(--brown);
    font-weight: 400;
    font-size: 40px;
}

.paragraph {
    color: var(--brown);
    font-family: 'optima';
    line-height: 21px;
    font-size: 17px;
    text-decoration: none;
}

.capital {
    color: var(--brown);
    font-family: "Luminari";
    font-size: 120px;
    font-weight: 500;
}

.title-box {
    color: var(--white);
    font-family: "optima";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin: 0;
}

main a .paragraph {
    color: var(--orange)!important;
}

main a {
    text-decoration: none;
    font-style: italic!important;
    font-weight: 600!important;
    color: var(--orange)!important;
}