/* Partial : Button */
input[type=button] {
  background-size: contain !important;
  background-position: left;
  background-repeat: no-repeat !important;
  border: none;
  font-size: 20px;
  font-family: "optima";
  text-transform: uppercase;
  background-color: transparent;
  text-align: left;
}

/* Partial : Caroussel */
.caroussel {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-direction: row;
  overflow: hidden;
}
.caroussel .caroussel-items {
  display: flex;
  gap: 20px;
  overflow: hidden;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.caroussel .caroussel-item {
  background-color: var(--brown);
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 37vh;
}
.caroussel .next, .caroussel .previous {
  width: 3%;
  cursor: pointer;
  top: 40%;
  position: relative;
}

/* Partial : Typography */
.title {
  font-family: "optima";
  color: var(--brown);
  text-transform: uppercase;
  font-size: 75px;
  font-weight: 400;
}

.subtitle {
  font-family: "optima";
  text-transform: uppercase;
  color: var(--brown);
  font-weight: 400;
  font-size: 40px;
}

.paragraph {
  color: var(--brown);
  font-family: "optima";
  line-height: 21px;
  font-size: 17px;
  text-decoration: none;
}

.capital {
  color: var(--brown);
  font-family: "Luminari";
  font-size: 120px;
  font-weight: 500;
}

.title-box {
  color: var(--white);
  font-family: "optima";
  font-weight: 400;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  margin: 0;
}

main a .paragraph {
  color: var(--orange) !important;
}

main a {
  text-decoration: none;
  font-style: italic !important;
  font-weight: 600 !important;
  color: var(--orange) !important;
}

/* Partial : Variabbles */
html {
  --brown: #804534;
  --white: #E9EAE9;
  --orange: #D9733D;
  --grey: #E9EAE9;
  --header: "optima";
}

/* -- Section : Header -- */
.header {
  display: flex;
  z-index: 10;
  position: relative;
  padding: 10px;
  padding-left: 150px;
}
.header .header__logo {
  width: 50px;
  height: auto;
}
.header .header__menu {
  display: flex;
  list-style-type: none;
  gap: 40px;
  font-family: "optima";
}
.header .header__menu .header__menuitem {
  color: var(--brown);
  text-transform: uppercase;
  font-size: 22px;
}
.header .header__menu .header__menuitem:hover {
  cursor: pointer;
}
.header a {
  text-decoration: none;
  color: var(--brown);
}

.header__menudropdown {
  display: none;
  position: absolute;
  background-color: var(--brown);
  color: var(--white) !important;
  text-align: left;
  width: 8%;
}
.header__menudropdown p {
  padding: 10px 0 10px 10px;
  margin: 0;
}
.header__menudropdown p:hover {
  background-color: var(--orange);
  color: var(--white);
}
.header__menudropdown a {
  color: var(--white);
}

.header__projectsbutton:hover .header__menudropdown {
  display: block !important;
}

.header__menudropdown:hover {
  display: block;
}

.active {
  font-weight: 600;
}

/* Footer */
footer {
  position: relative;
  top: -6vh;
  height: 40vh;
}
footer .footer__background-image {
  position: absolute;
  height: 50vh;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  background-color: var(--grey);
}

/* Partial : back to top */
.back-to-top .back-to-top__button {
  width: 3%;
  position: fixed;
  bottom: 3%;
  right: 3%;
  z-index: 10;
  transition: all 0.2s ease-in-out;
}
.back-to-top .back-to-top__button:hover {
  transform: scale(1.1);
}

/* Partial : LO Pop-up */
.lo-pop-up .lo-pop-up__image {
  width: 3%;
  position: fixed;
  bottom: 3%;
  right: 7%;
  z-index: 10;
  transition: all 0.2s ease-in-out;
}
.lo-pop-up .lo-pop-up__image:hover {
  transform: scale(1.1);
}
.lo-pop-up .lo-pop-up__message {
  background-color: white;
  width: 16%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  bottom: 10%;
  right: 7%;
  opacity: 0;
  transition: all 0.3s ease;
  border-radius: 10px;
  border: 3px solid var(--brown);
}

.lo-pop-up__image:hover + .lo-pop-up__message {
  opacity: 100%;
}

/* Component : LO IMG */
.lo-img {
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

/* Component : Full image */
.full-image {
  height: -moz-fit-content !important;
  height: fit-content !important;
}

/* Component : Vertical image */
.vertical-image {
  height: 60vh !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}

/* Component : Small image */
.small-image {
  width: 18vw !important;
}

/* Component : Small image full width */
.small-image-width {
  width: -moz-fit-content !important;
  width: fit-content !important;
}

/* Component : Small container */
.small-container {
  width: 20% !important;
  margin-right: 20px;
}

/* Component : Half container */
.half-container {
  width: 45% !important;
}

/* Component : Container vertical */
.container-vertical {
  flex-direction: column !important;
  flex-wrap: wrap;
  width: 40vw !important;
}

/* Component : Feedpulse */
#image__feedpulse {
  width: 10vw;
  border: 3px solid var(--brown);
  cursor: pointer;
}/*# sourceMappingURL=all-partials.css.map */