/* Section : portfolio landing */
.portfolio-landing {
  position: relative;
  height: 100vh;
  overflow: visible;
}
.portfolio-landing .portfolio-landing__background-image {
  position: absolute;
  top: -10%;
  right: 0;
  height: 170vh;
}
.portfolio-landing .portfolio-landing__title {
  margin: 0;
  position: relative;
  margin-left: 9%;
  color: var(--brown);
  font-family: "Luminari";
  text-transform: uppercase;
  font-size: 100px;
  line-height: 1;
  margin-top: 8%;
  font-weight: 400;
  z-index: 1;
}
.portfolio-landing .portfolio-landing__subtitle {
  position: relative;
  left: 10%;
  margin: 0;
}
.portfolio-landing .portfolio-landing__paragraph {
  position: relative;
  left: 10%;
  width: 25%;
}

/* Section : portfolio intro */
.portfolio-intro {
  padding-left: 9%;
  position: relative;
  top: -25vh;
}
.portfolio-intro .portfolio-intro__title {
  margin: 0;
}
.portfolio-intro .portfolio-intro__paragraph {
  width: 65%;
}
.portfolio-intro input[type=button] {
  background: url(../images/button-background__brown.png);
  color: var(--white);
  padding: 16px 15px 16px 12px;
}

/* Section : portfolio Main info */
.portfolio-maininfo {
  padding-left: 9%;
  position: relative;
  height: 60vh;
}
.portfolio-maininfo .portfolio-maininfo__title {
  margin: 0;
}
.portfolio-maininfo input[type=button] {
  background: url(../images/button-background__brown.png);
  color: var(--white);
  padding: 16px 15px 16px 12px;
}
.portfolio-maininfo .portfolio-maininfo__content {
  display: flex;
  justify-content: space-between;
  width: 55%;
}
.portfolio-maininfo .portfolio-maininfo__content .portfolio-maininfo__time-software, .portfolio-maininfo .portfolio-maininfo__content .portfolio-maininfo__legend, .portfolio-maininfo .portfolio-maininfo__content .portfolio-maininfo__deliverables {
  line-height: 25px;
}

/* Section : portfolio Reflection */
.portfolio-reflection {
  padding-left: 9%;
  margin-bottom: 100px;
  /* Component : Reflections */
}
.portfolio-reflection input[type=button] {
  background: url(../images/button-background__brown.png);
  color: var(--white);
  padding: 10px 24px 17px 21px;
}
.portfolio-reflection .portfolio-reflection__title {
  margin: 0;
}
.portfolio-reflection .portfolio-reflection__iterations {
  margin-bottom: 65px;
  width: 90%;
}
.portfolio-reflection .portfolio-reflection__iterations .portfolio-reflection__iterations-title {
  font-size: 30px;
}
.portfolio-reflection .portfolio-reflection__iterations .portfolio-reflection__iterations-paragraph {
  margin-bottom: 5px;
}
.portfolio-reflection .portfolio-reflection__iterations .portfolio-reflection__iterations-list {
  margin-top: 5px;
}
.portfolio-reflection .portfolio-reflection__iterations .portfolio-reflection__iterations-list a {
  color: var(--orange);
}

/* Section : Quickk access */
.portfolio-reflection__quick-access {
  padding-left: 9%;
}

/* Section : Content */
.portfolio-content {
  padding-left: 9%;
  margin-bottom: 100px;
}
.portfolio-content input[type=button] {
  background: url(../images/button-background__brown.png);
  color: var(--white);
  padding: 10px 24px 17px 21px;
}
.portfolio-content .portfolio-content__title {
  margin: 0;
}
.portfolio-content .portfolio-content__image {
  height: 35vh;
  width: 37vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-bottom: 9px solid brown;
  border: 7px solid var(--brown);
  border-radius: 10px;
}
.portfolio-content .portfolio-content__paragraph {
  width: 45%;
  margin-right: 1.5%;
}
.portfolio-content .portfolio-content__image-description {
  margin: 0;
}
.portfolio-content .portfolio-content__title {
  width: 100%;
}
.portfolio-content .portfolio-content__container-images {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.portfolio-content .portfolio-content__container {
  width: 45%;
  margin-right: 1.5%;
}
.portfolio-content .portfolio-content__paragraph-full-width {
  width: 96%;
}
.portfolio-content .image-center {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: white;
}
.portfolio-content a {
  font-weight: 600;
  text-decoration: none;
  color: var(--brown);
}

/* Section : portfolio Content Project Plan */
.portfolio-content__project-plan {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 100px;
  align-items: center;
}
.portfolio-content__project-plan .portfolio-content__paragraph {
  width: 40%;
}

/* Article : portfolio Set-up */
.portfolio-content__set-up {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  padding-right: 9%;
  margin-bottom: 100px;
}

/* Article : portfolio Content Wireframes */
.portfolio-content__wireframes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  padding-right: 9%;
  margin-bottom: 100px;
}

/* Article : portfolio Content Interactive Prototypes */
.portfolio-content__prototypes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  padding-right: 9%;
  margin-bottom: 100px;
}

/* Article : portfolio Content Development */
.portfolio-content__development {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  padding-right: 9%;
  margin-bottom: 100px;
}

/* Article Portfolio Content Transferable Production */
.portfolio-content__transferable {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  padding-right: 9%;
  margin-bottom: 100px;
}

/* Section : Overall reflection */
.portfolio__overall-reflection {
  padding: 0 9%;
  margin-bottom: 100px;
}
.portfolio__overall-reflection .portfolio__overall-reflection__paragraph {
  width: 96%;
}
.portfolio__overall-reflection .portfolio__overall-reflection__title {
  margin: 0;
}

.portfolio-content__reading-guide {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  padding-right: 9%;
  margin-bottom: 100px;
}/*# sourceMappingURL=portfolio.css.map */